##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [54]:
var = [] #list kosong

2. > Create a variable containing your name (Points : 5)

In [55]:
name = "Achmad Rifqi Ulumuddin"

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [56]:
ex_list = ['book','pencil','pen','eraser','table']

['book', 'pencil', 'pen', 'eraser', 'table']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [57]:
ex_dict = {
    'fruits':['apple','banana','avocado'],
    'color':['red','yellow','green']
}

{'fruits': ['apple', 'banana', 'avocado'], 'color': ['red', 'yellow', 'green']}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [58]:
price = 12000
quantity_sold = 20
discount = 10

final_price = (price*quantity_sold)*((100-discount)/100)
print(final_price)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [59]:
# Create list of countries in the world (total 7 countries) (Points : 5)

list_countries = ['Indonesia', 'England', 'Australia', 'Malaysia', 'Singapore', 'America', 'Thailand']

In [60]:
# Get 4 countries from the first index of the list (Points : 5)

print(list_countries[:4])

['Indonesia', 'England', 'Australia', 'Malaysia']

In [61]:
# Append new country to the list (Points : 5)
list_countries.append('Japan')
print(list_countries)

['Indonesia', 'England', 'Australia', 'Malaysia', 'Singapore', 'America', 'Thailand', 'Japan']

In [62]:
# Drop one country from the list (Points : 5)

list_countries.remove('Japan')
print(list_countries)

['Indonesia', 'England', 'Australia', 'Malaysia', 'Singapore', 'America', 'Thailand']

In [63]:
# Get country in the last index (Points : 5)

print(list_countries[-1]) #mengambil data dengan index terakhir

Thailand

# Dictionary Data Operation

6. >  Follow the instructions below

In [64]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [65]:
# Print all keys in customer (Points : 5)

print(customer.keys())

dict_keys(['name', 'age', 'gender', 'membership'])

In [66]:
# Print all customer names (Points : 5)

print(customer['name'])

['Dio', 'Eka', 'Wayu', 'Riki']

In [67]:
# Print the first customer name (Points : 5)

print(customer['name'][0])

Dio

In [68]:
# Drop "age" key from the dictionary (Points : 5)

customer.pop('age')
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [69]:
# Replace customer gender list value (Points : 20)
gen = [] #membuat variabel untuk menampung data gender baru
for i in customer['gender']: #melakukan looping pada data gender di dictionary yang akan diganti dengan data baru
    if i == 1:
        gen.append('Male') #jika data pada gender di dictionary = 1 maka akan disimpan data 'Male' di variabel gen
    else:
        gen.append('Female') #jika data pada gender di dictionary = 0 maka akan disimpan data 'Female' di variabel gen

customer.update({"gender": gen}) #melakukan update data gender pada dictionary dengan data baru dari variabel gen
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': ['Female', 'Male', 'Male', 'Female'], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}